.newGame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .fieldsContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 30px 50px;

    > div {
      width: 250px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .fieldLabel {
        width: 100px;
        vertical-align: middle;
        line-height: 32px;
      }
    }
  }
}