{
  "extends": "react-app",
  "plugins": [
    "@emotion",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "@emotion/jsx-import": "error",
    "@emotion/pkg-renaming": "error"
  }
}