{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": [
    "@emotion",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "@emotion/jsx-import": "error",
    "@emotion/pkg-renaming": "error"
  },
  "overrides": [
    {
      "files": [
        "*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}