.header {
  height: var(--header-height);
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  position: fixed;
  padding-left: 64px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bs-creme);
  background-color: var(--bs-red);
  z-index: 10;
  top: 0;
  width: calc(100% - 96px);
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: var(--repeating-linear-gradient);
}

.title {
  font-size: 1.5em;
  margin-top: 1px;
}

.title a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

.nav {
  height: 100%;
  font-size: 1em;
  font-weight: bold;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}

.navItem {
  color: white;
  text-decoration: none;
  text-align: center;
  outline: none;
  width: 100px;
  line-height: var(--nav-item-line-height);
  vertical-align: middle;
  opacity: 0.85;
  border-bottom: 3px solid #062035;
  transition: opacity 0.2s, border-color 0.2s ease-in;
  margin-top: 1px;
}

.navItem:visited {
  color: white;
}

.navItem:hover {
  opacity: 1;
}

.selected {
  opacity: 1;
  border-color: white;
}

@media(max-width: 750px) {
  .header {
    height: 90px;
    width: 100%;
    flex-flow: column;
  }

  .header {
    padding: 0;
  }

  .title {
    height: 50%;
  }

  .nav {
    height: 50%;
    width: 100%;
  }

  .navItem {
    width: 25%;
  }
}
