.cell {
    display: inline-block;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.grid  {
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding: 0;
    display: inline-block;
}

.row {
    margin: 0;
    padding: 0;
    height: 21px;
}

.food {
    background-color: pink;
}