.labels {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

input[type="range"] {
    appearance: none;
    width: 100%;
    height: 15px;
    background: #c3c2ce;
    outline: none;
    opacity: 1;
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 0.7;
}

/* THUMB - todo add postcss-input-range to npm script OR use sass to create mixins */
input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: #736cc7;
    cursor: pointer;
    margin-top: 0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: #736cc7;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* Style track colour before & after thumb - not supported in chrome */
input[type="range"]::-moz-range-progress {
    background-color: #736cc7;
    height: 15px;
}

input[type="range"]::-ms-fill-lower {
    background-color: #736cc7;
}