.footer {
  position: fixed;
  padding-left: 64px;
  padding-right: 32px;
  bottom: 0;
  height: var(--footer-height);
  width: calc(100% - 96px);
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bs-creme);
  background-color: var(--bs-red);
  z-index: 1;
  box-shadow: 0 -2px 4px rgba(0,0,0,.14),0 -6px 8px rgba(0,0,0,.28);
}

.footer p,
.footer a {
  white-space: nowrap;
}

.footer p {
  text-align: left;
  font-size: 11px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer a {
  color: white;
  font-size: 11px;
}

@media(max-width: 750px) {
  .footer {
    width: 90%;
    padding: 0 5vw;
  }
}
